################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EC2LinuxTest/.vs/EC2LinuxTest
