################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EC2LinuxTest/.vs/EC2LinuxTest
/EC2LinuxTest/bin/Debug/netcoreapp3.1
/EC2LinuxTest/obj
