@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The following image comes from S3</p>

    <img src="https://phuvo-devops-training.s3-ap-northeast-1.amazonaws.com/GoogleMorning.jpg" />
</div>
